/* see: https://css-tricks.com/snippets/css/using-font-face/ */

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url('./web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('./web/woff/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  src: url('./web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
    url('./web/woff/JetBrainsMono-Italic.woff') format('woff');
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  src: url('./web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('./web/woff/JetBrainsMono-Medium.woff') format('woff');
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 500;
  src: url('./web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
    url('./web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url('./web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('./web/woff/JetBrainsMono-Bold.woff') format('woff');
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  src: url('./web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('./web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 900;
  src: url('./web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('./web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 900;
  src: url('./web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
    url('./web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
}
